// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Template
@import "business-casual";

// Final touch
@import "final";
